/* Universal Styles */
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Header */

header .content {
  width: 100%;
  height: 5.3125rem;
  line-height: 1.6;
  background-color: white;
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
}

header .content a {
  color: #4a4a4a;
  text-decoration: none;
}

.mobile {
  display: none;
}

header .join-us {
  display: none;
}

.desktop-logo {
  margin-left: 1.875rem;
  font-size: 1.5rem;
  font-family: "Roboto mono", sans-serif;
}

header .icon {
  width: 1rem;
  height: 1rem;
  padding-left: 1em;
  margin-right: 1.875rem;
}

header ul,
header li {
  display: inline-block;
  padding-left: 3.2em;
}

.content a:hover {
  opacity: 0.8;
}

.content a:active {
  opacity: 0.6;
}

@media only screen and (max-width: 760px) {
  header .join-us {
    display: inline-block;
    padding: 0;
    padding-right: 10px;
  }

  header .button {
    color: white !important;
    background-color: #9dc20a;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
  }

  header .button:hover {
    opacity: 0.9;
  }

  header .button:active {
    opacity: 0.8;
  }

  header .icon,
  header ul,
  header li {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .desktop-logo {
    display: none;
  }

  .mobile {
    display: block;
    width: 100%;
    padding: 2rem;
  }

  header .content {
    height: 3rem;
  }

  .mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header .icon,
  header ul,
  header li {
    padding: 0;
  }
.mobile img {
  padding-top: 0.5em;
}
}

/* Main */

.banner {
  background-image: url('/Users/jordan/Documents/Coding Projects/Fotomatic/resources/images/banner-landingpage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  width: 100%;
  height: 680px;
  display: flex;
  align-items: center;
}

.banner .content-center {
  max-width: 600px;
  max-height: 340px;
  margin-left: 6.25rem;
  background-color: #9dc20a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.cursive {
  font-family: Damion, sans-serif;
  font-size: 2.5rem;
  color: white;
  margin-top: 5%;
}

.striking {
  font-family: Rubik, sans-serif;
  font-size: 3.125rem;
  margin-bottom: 0.75rem;
}

.email-us {
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
  margin: 0 15%;
  font-weight: 300;
}

.main-content .button {
  background-color: #4a4a4a;
  width: 408px;
  height: 64px;
  border-radius: 4px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 1.625rem;
}

.main-content .button:hover {
  cursor: pointer;
  background-color: #605f5f;
}

.main-content .button:active {
  background-color: #747373;
}

@media only screen and (max-width: 760px) {
  .banner {
   justify-content: center;
   height: 550px;
  }

  .cursive {
    margin-top: 0;
  }

  .banner .content-center {
    background-color: transparent;
    justify-content: center;
    margin: auto;
  }

  .main-content .button {
    display: none;
  }

  .email-us {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 450px;
  }
}

/* Featured Section */

#features-section {
  display: inline-flex;
  padding-top: 3.125rem;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2.875rem;
  background-color: #f3f3f3;
}

.feature {
  max-height: 635px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 1.2rem;
}

#features-section .image-container {
  display: flex;
  justify-content: center;
}

#features-section .image-container img {
  width: 90%;
  height: 90%;
}

.feature .content {
  height: 187px;
}

.feature .content h2 {
  color: #4a4a4a;
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.feature .content h3 {
  color: #4a4a4a;
  line-height: 1.2;
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
}

@media only screen and (max-width: 760px) {

  .feature {
    padding: 1rem;
  }
  #features-section {
    padding: 1rem 0.1%;
  }

  .feature .content h2 {
    font-size: 1.5rem;
  }

  .feature .content h3 {
    font-size: 0.9rem;
  }

  #features-section .image-container {
    height: 18rem;
  }

  .feature .content {
    height: 8rem;
  }

  #features-section .image-container img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #features-section {
    flex-wrap: wrap;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.2rem;
  }

  #feature-1 {
    background-color: #d2d1d1;
  }

  #features-section .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
  }

  .feature .content h3 {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  #features-section .image-container {
    height: 24rem;
  }
}

/* Filters Section */

#filters-section {
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#filters-section .content-center {
  text-align: center;
  color: white;
  margin-top: 4rem;
  margin-bottom: 5rem;
  background-color: #4a4a4a;
}

#filters-section .content-center h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

#filters-section .content-center h3 {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4;
}

#filters-section .images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
}

#filters-section .image-container {
  width: 25%;
  height: 25%;
  margin-bottom: 4rem;
}

#filters-section .image-container img {
  width: 100%;
}

@media only screen and (max-width: 760px) {
  #filters-section .image-container {
    margin: 0;
    padding: 0;
  }

  #filters-section .content-center {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #4a4a4a;
  }

  #filters-section .images-container {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  #filters-section .content-center h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  #filters-section .content-center h3 {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4;
  }

  #filters-section .content-center {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 6rem;
  }

  #filter-4 {
    display: none;
  }

  #filters-section .image-container {
    width: 33.33%;
  }
}


/* Quotes Section */

#quotes-section .content-center {
  display: flex;
  background-color: #f3f3f3;
  color: #4a4a4a;
  align-items: center;
  justify-content: center;
  padding: 5rem 1.5rem;
  flex-wrap: nowrap;
}

.content-center .quote {
  font-size: 1.875rem;
  font-family: Palatino, sans-serif;
  font-style: italic;
  text-align: center;
  padding-right: 0.8%;
}

#quotes-section .content-center img {
  height: 1.875rem;
}

.content-center .quote-citation {
  padding-left: 0.8%;
}

@media only screen and (max-width: 760px) {
  #quotes-section .content-center {
    padding: 2rem 0.3rem;
    flex-wrap: nowrap;
  }

.content-center .quote {
  font-size: 1.5rem;
  padding-right: 0;
}

#quotes-section .content-center img {
  padding-right: 1.875rem;
}
}

@media only screen and (max-width: 600px) {
  #quotes-section .content-center {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
  }

  .content-center .quote {
    line-height: 1.4;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

/* Footer */

footer .content {
  height: 3.875rem;
  background-color: #9b9b9b;
  padding: 0 2rem;
  color: white;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 760px) {
  footer .content {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  footer .content {
    padding: 0 1rem;
  }
}